.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
img{
    width: 15vh;
    height: 15vh;
}

@import './exploration.css';
@import './messanger.css';
@import './parties.css';
@import './profile.css';
